.todo_add{
    display: flex;
    justify-content: center;
    align-items: center;
    /* margin: 25px 30px 45px 30px; */
    background-color: #085a69;
    border-radius: 10px;


}
.todo-input{
    outline: none;
    border: none;
    padding: 10px 20px;
    width: 100%;
    font-size: 18px;
    background-color: #085a69 ;
    color: white;
    border-radius: 10px;
    
    
}
input::placeholder{
    color: rgb(255, 255, 255);
}


.todo_add .fa-plus{
    font-size: 20px;
    margin-right: 10px;
    color: rgb(255, 255, 255);
    cursor: pointer;
}
