.todo-container{
    width: 70vw;
    height: auto;
    border-radius: 10px;
    padding: 15px;
    background-color: #fff;
    margin: auto;
    margin-top: 172px;
    margin-bottom: 100px;

}
.header{
    font-size: 2em;
    text-align: center;
}